h1 {
    color:orange;
    background-color: aquamarine;
    margin: 60px;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    
    border: 15px double black;
}
.red,.green,.blue,.yellow{
   
    padding: 30px;
    border: solid black;
    margin: 0px;
    
}
.Simon-Box{
    display: flex;
    width: 259px;
    height: 250px;
    flex-wrap: wrap;
    flex-direction: row wrap;
   background-position: center;
   justify-content: center;
   border: 5px double red;
   padding: 0x;
   margin: 30px auto;
   background: black;
   align-self: center;
   border-radius: 130px 130px 130px 130px;
  
}
.red{
    background: red;
    height: 60px;
    width:60px;
    border-radius: 160px 0px 0px 0px;
    
    
}
.blue {
    background: blue;
    height: 60px;
    width:60px;
    border-radius: 0px 0px 160px 0px;
}
.green {
    background:green ;
    height: 60px;
    width:60px;
    border-radius: 0px 160px 0px 0px;
}
.yellow
{
    background: yellow;
    height: 60px;
    width:60px;
    border-radius: 0px 0px 0px 160px;
}
.menu{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: orange;
    height: 15px;
    width: 470px;
    justify-content: space-between;
    padding: 3px;
}



.button{
    border: double black;
    height: 60px 
}
.score
{
    background-position: center;
}